@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@source "../../node_modules/flowbite-datepicker";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
}
.exp{
  padding: 150px 80px;
}
@keyframes emphasis {
  0%{
    background-color: black;
    transform: rotate(3);
  }
  100%{
    transform: rotate(1);
  }
}
#gq{
  animation: emphasis 1s ease-in-out infinite;
}
@keyframes slide-fade {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
.logo{
    animation: slide-fade 3s ease-in-out 0s infinite alternate forwards;
}